<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script  th:inline="javascript">
        $( document ).ready(function () {
            var defaultData = [];
            var hd_data = [[${hd_data}]]
            for (var i = 0, l = hd_data.length; i < l; i++) {
                var date = hd_data[i]["date"]
                defaultData[i] = {
                    text: date,
                    href: '#' + hd_data[i]["id"],
                    id: hd_data[i]["id"]
                }
            }
            $("#scroll_hook_detail").treeview({
                data: defaultData,
                collapseIcon: 'fas fa-minus',
                expandIcon: 'fas fa-plus'
            }).on('nodeSelected', function (event, data) {
                url = "/hook/detail/find?id="+data["id"]
                $.ajax({
                    //async:false,非异步，modal窗口失效；
                    async: true,
                    url: url,
                    type: 'GET',
                    dataType: 'json',
                }).done(function (data) {
                    $("#hookDetail").show()
                    $("#param").text(data["param"])
                    $("#thisObject").text(data["thisObject"]);
                    $("#returnObject").text(data["returnObject"])
                    $("#stacks").html(data["stacks"].replaceAll("\n","<br/>"))
                })

            });
        });

    </script>

    <script type="text/javascript" th:src="@{/js/bootstrap-treeview.min.js}"></script>
<!--    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script th:src="@{/js/include.js}"></script>

</head>

<body>
<include src="header.html"/>
</include>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a th:href="@{/hook.html(id=${hook.agentId})}" >hook</a></li>
        <li class="breadcrumb-item active" aria-current="page"  th:text="${hook.className}" ></li>
    </ol>
</nav>

<h6 style="font-family:Consolas"><span style="margin-left: 50px" th:text="${hook.className}"></span>.<span th:text="${hook.method}"></span><span th:text="${hook.desc}"></span>
</h6>
<div class="row">
    <div class="col-sm-2">
        <div id="scroll_hook_detail" style="max-height: 600px;" class="treeview pre-scrollable"></div>
    </div>
    <div class="col-sm-8" id="hookDetail" style="display: none;font-family:Consolas">
        <div>
            <span>参数：</span><span id="param" ></span>
        </div>
        <div>
            <span>当前对象：</span><span id="thisObject" ></span>
        </div>
        <div>
            <span>返回对象：</span><span id="returnObject"></span>
        </div>
        <div>
            <span>调用栈：</span><span id="stacks" style=""></span>
        </div>
    </div>
</div>


</body>

</html>