<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<script th:src="@{/js/include.js}"></script>

<head>
    <meta charset="utf-8">
    <title th:text="${applicationName}+'-'+${id}"></title>
    <style>
        /*.treeview span.indent {*/
        /*    margin-left: 10px;*/
        /*    margin-right: 10px*/
        /*}*/

        /*.treeview span.icon {*/
        /*    width: 12px;*/
        /*    margin-right: 5px*/
        /*}*/

        /*.treeview .node-disabled {*/
        /*    color: silver;*/
        /*    cursor: not-allowed*/
        /*}*/

        /*.node-treeview1:not(.node-disabled):hover {*/
        /*    background-color: #F5F5F5;*/
        /*}*/

        li {
            cursor: pointer;
        }

        /*.input-group-addon {*/
        /*    min-width: 100px;*/
        /*    text-align: center;*/
        /*}*/
    </style>


    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap-treeview.min.js}"></script>
    <script th:src="@{/js/bootstrap-table.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/hook.js}"></script>
    <script type="text/javascript" th:src="@{/js/plugin.js}"></script>
    <script type="text/javascript" th:src="@{/js/hook_library.js}"></script>
    <script type="text/javascript" th:src="@{/js/classmap.js}"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

</head>
<body>
<include src="header.html"/>
</include>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/bootstrap-table.min.css}">
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<h2><span th:text="${applicationName}"></span>
    <small id="small" th:text="${id}"></small>
</h2>
<ul id="myTab" class="nav nav-tabs">
    <li class="active">
        <a href="#home" data-toggle="tab">Hook</a>
    </li>
    <li><a href="#div_hook_library" data-toggle="tab" >Hook Library</a></li>

    <li><a href="#classmap" data-toggle="tab" onclick="load_classMap()">类图</a></li>
    <li><a href="#plugins-tab" data-toggle="tab">插件</a></li>

    <li class="dropdown ">
        <a href="#" id="myTabDrop1" data-toggle="dropdown">功能 <i class="glyphicon glyphicon-th-list icon-th"></i></b>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
            <li><a th:href="@{/hook/export-config(id=${id})}" title="导出hook信息的json文件" th:target="_blank" tabindex="-1">
                导出Hook</a>
            </li>
            <li><a th:href="@{/agent/export(id=${id})}"  th:target="_blank" tabindex="-1">
                导出在线agent</a>
            </li>
            <li><a title="导出独立运行的agent，无需与服务端通信" id="export-off-button" tabindex="-1">
                导出离线agent</a>
            </li>

        </ul>
    </li>
</ul>
<!-- hook点新增弹框 end-->
<!-- 导出 离线插件对话框 start-->
<div class="modal fade" id="export_agent_dialog" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 650px;">
            <div class="modal-header">
                <h4 class="modal-title">添加hook点</h4>
            </div>

            <div class="modal-body">
                <form id="agent_form" enctype="multipart/form-data" action="/hook/export-offline" method="POST">
                    <div class="input-group">
                        <span class="input-group-addon">agent文件名</span>
                        <input type="text"  value="dHook" name="name" class="form-control"
                               aria-describedby="basic-addon1">
                        <input type="hidden"  th:value="${id}" name="id" >

                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">插件选择</span>
                        <select class="form-select form-select-lg mb-3" style="width:100%"  name="file_name" aria-label=".form-select-lg example" id="plugin_select">
                        </select>

                    </div>

                </form>
            </div>

            <div class="modal-footer">
                <button type="button" id="export_plugin_button" class="btn btn-default">导出</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
            </div>

        </div>
    </div>
</div>
<!-- 导出 离线插件对话框 end-->
<!-- tab content start-->
<div id="myTabContent" class="tab-content">
    <!-- hook点新增弹框 start-->
    <div class="modal fade" id="add_hook_dialog" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content" style="width: 650px;">
                <div class="modal-header">
                    <h4 class="modal-title">添加hook点</h4>
                </div>
                <div class="modal-body">
                    <form id="hook_form" action="/hook/add" method="POST">
                        <div class="input-group">
                            <span class="input-group-addon" title="输入hook library别名，无需输入method,desc,自动导入别名对应的hook点">ClassName/alias</span>
                            <input type="text" id="className" class="form-control" placeholder="org/apache/catalina/connector/Request"
                                   aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">Method</span>
                            <input type="text" id="method" class="form-control" placeholder="getParameter"
                                   aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">Desc</span>
                            <input type="text" id="desc" class="form-control" placeholder="(Ljava/lang/String;)Ljava/lang/String;"
                                   aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">修改返回值</span>
                            <input type="text" id="returnValue" class="form-control" placeholder="value"
                                   aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">方法执行前</span>
                            <div class="dropdown">
                                <button type="button" class="btn dropdown-toggle" id="dropdownMenu1"
                                        data-toggle="dropdown">
                                    添加行为
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1"
                                           href="javascript:addMethod('onMethodEnter')">添加静态方法</a>
                                    </li>
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1"
                                           href="javascript:addField('onMethodEnter')">添加修改参数</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div id="onMethodEnter">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">方法执行后</span>
                            <div class="dropdown">
                                <button type="button" class="btn dropdown-toggle" id="dropdownMenu2"
                                        data-toggle="dropdown">
                                    添加行为
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1"
                                           href="javascript:addMethod('onMethodExit')">添加静态方法</a>
                                    </li>
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1"
                                           href="javascript:addField('onMethodExit')">添加修改参数</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div id="onMethodExit">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="addHook" type="button" class="btn btn-default">添加</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <!-- hook点新增弹框 end-->

    <div id="div_hook_library" class="tab-pane fade">
        <div id="hl_toolbar" class="btn-group">
            <button id="hl_add" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
            </button>
            <button id="hl_edit" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>修改
            </button>
            <button id="hl_delete" type="button" class="btn btn-default"  onclick="del_hl()" >
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>删除
            </button>
        </div>
        <table id="hl_departments"></table>

        <div class="modal fade" id="add_hl_dialog" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content" style="width: 650px;">
                    <div class="modal-header">
                        <h4 class="modal-title">hook Library</h4>
                    </div>

                    <div class="modal-body">
                        <form id="hl_form" enctype="multipart/form-data" action="/plugin/add" method="POST">
                            <div class="input-group">
                                <span class="input-group-addon">alias</span>
                                <input type="text" id="hl_alias" name="alias" class="form-control"
                                       aria-describedby="basic-addon1">
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">className</span>
                                <input type="text" id="hl_className" name="className" class="form-control"
                                       aria-describedby="basic-addon1">
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">method</span>
                                <input type="text" id="hl_method" name="method" class="form-control"
                                       aria-describedby="basic-addon1">
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">desc</span>
                                <input type="text" id="hl_desc" name="desc" class="form-control"
                                       aria-describedby="basic-addon1">
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">notes</span>
                                <input type="text" id="hl_notes" name="desc" class="form-control"
                                       aria-describedby="basic-addon1">
                            </div>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="button" id="add_hl_button" class="btn btn-default">添加</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
                    </div>

                </div>
            </div>
        </div>
        <!-- 添加 插件对话框 end-->
    </div>
    <!-- classmap start-->
    <div class="tab-pane fade" id="classmap">

        <div class="row" >
            <div class="col-sm-2">
                <div id="treeview1" style="max-height: 750px" class="treeview pre-scrollable"></div>
            </div>
            <div class="col-sm-8" id="classDetail">
                <h5 id="packageName"></h5>
                <h3 id="class">Class</h3>

                <div><button onclick="get_class_info()">获取类信息</button></div>
                <div>
                    <h4><b>Super Class:</b></h4>
                    <div><span id="super_class">父类</span></div>
                </div>
                <div>
                    <h4><b>All Implemented Interfaces:</b></h4>
                    <div><span id="interfaces">接口</span></div>
                </div>
                <div id="fields" style="margin-top: 20px">
                    <h4><b>属性</b></h4>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>类型</th>
                            <th>属性名</th>
                        </tr>
                        </thead>
                        <tbody id="field_body" style="font-weight: bold;font-size: 14px">
                        </tbody>
                    </table>
                </div>
                <div id="methods">
                    <h4><b>方法</b></h4>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>类型</th>
                            <th>方法</th>
                        </tr>
                        </thead>
                        <tbody id="method_body" style="font-weight: bold;font-size: 14px">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- classmap end-->

    <!-- home start-->
    <div class="tab-pane fade in active" id="home">
        <div id="toolbar" class="btn-group">
            <button id="btn_add" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
            </button>
            <button id="btn_edit" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>修改
            </button>
            <button id="btn_delete" type="button" class="btn btn-default" onclick="del_hook()">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>删除
            </button>
        </div>
        <table id="tb_departments"></table>
    </div>
    <!-- home end-->

    <div class="tab-pane fade" id="plugins-tab">
        <div id="plugin_toolbar" class="btn-group">
            <button id="plugin_add" type="button" class="btn btn-default" data-toggle="modal"
                    data-target="#add_plugin_dialog">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>导入
            </button>
            <button onclick="unload_plugin()" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>卸载
            </button>
        </div>
        <table id="plugin_departments"></table>
        <!-- 添加 插件对话框 start-->
        <div class="modal fade" id="add_plugin_dialog" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content" style="width: 650px;">
                    <div class="modal-header">
                        <h4 class="modal-title">添加hook点</h4>
                    </div>

                    <div class="modal-body">
                        <form id="plugin_form" enctype="multipart/form-data" action="/plugin/add" method="POST">
                            <div class="input-group">
                                <span class="input-group-addon">插件</span>
                                <input type="file" id="plugin_file" name="plugin" class="form-control"
                                       aria-describedby="basic-addon1">
                            </div>
                        </form>


                    </div>
                    <div class="alert alert-danger hide" id="plugin_warn_div">
                        <strong>上传错误!</strong> <span id="plugin_warn"></span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="add_plugin_button" class="btn btn-default">添加插件</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
                    </div>

                </div>
            </div>
        </div>
        <!-- 添加 插件对话框 end-->

    </div>
</div>
<!-- tab content end-->


<script>

</script>
<script>

    function getMethodFields(hookId = 0) {
        let onMethodEnter = $("#onMethodEnter");
        let onMethodExit = $("#onMethodExit");
        let methods = [];
        let fields = [];
        let childNodes = onMethodEnter.children();
        let exitChildren = onMethodExit.children();
        for (let i = 0; i < childNodes.length; i++) {
            let node = childNodes[i];
            let classNode = node.className;
            if (classNode.indexOf("method") > 0) {
                let className = node.children[1].value;
                let method = node.children[2].value;
                let desc = node.children[3].value;
                let parameters = node.children[4].value;

                let ms = {
                    "className": className,
                    "methodName": method,
                    "desc": desc,
                    "parameters": parameters,
                    "sort": i,
                    "type": 1,
                    "hookId": hookId,
                }
                let mId = node.children[6];
                if (mId != null) {
                    ms.methodId = mId.value
                } else {
                    ms.methodId = -1
                }
                methods.push(ms);
            } else {
                let name = node.children[1].value;
                let value = node.children[2].value;
                let fs = {
                    "name": name,
                    "value": value,
                    "sort": i,
                    "type": 1,
                    "hookId": hookId
                }
                let fId = node.children[4];
                if (fId != null) {
                    fs.fieldId = fId.value
                } else {
                    fs.fieldId = -1
                }
                fields.push(fs);
            }
        }
        for (let i = 0; i < exitChildren.length; i++) {
            let node = exitChildren[i];
            let classNode = node.className;
            if (classNode.indexOf("method") > 0) {
                let className = node.children[1].value;
                let method = node.children[2].value;
                let desc = node.children[3].value;
                let parameters = node.children[4].value;
                let ms = {
                    "className": className,
                    "methodName": method,
                    "desc": desc,
                    "parameters": parameters,
                    "sort": i,
                    "type": 2,
                    "hookId": hookId
                }
                let mId = node.children[6];
                if (mId != null) {
                    ms.methodId = mId.value
                } else {
                    ms.methodId = -1
                }
                methods.push(ms);
            } else {
                let name = node.children[1].value;
                let value = node.children[2].value;
                let fs = {
                    "name": name,
                    "value": value,
                    "sort": i,
                    "type": 2,
                    "hookId": hookId
                }
                let fId = node.children[4];
                if (fId != null) {
                    fs.fieldId = fId.value
                } else {
                    fs.fieldId = -1
                }
                fields.push(fs);
            }
        }
        return {
            "methods": methods,
            "fields": fields
        };
    }

    $('#add_plugin_button').click(function () {
        var formData = new FormData();
        // 获取文件
        var fileData = $("#plugin_file").prop("files")[0];
        formData.append("plugin", fileData);
        formData.append("agentId", $("small").text());
        $.ajax({
            url: '/plugin/add',
            type: 'POST',
            async: false,
            data: formData,
            cache: false,
            contentType: false,
            processData: false,
            success: function (data) {
                refresh();
                setTimeout(function () {
                    $('#add_plugin_dialog').modal('hide');
                }, 200);
            },
            error: function (jqXHR, textStatus, errorThrown) {

                $('#plugin_warn').text(jqXHR.responseText);
                $('#plugin_warn_div').removeClass('hide');
                setTimeout(function () {
                    $('#plugin_warn_div').addClass('hide');
                }, 5000);
            }
        });
    });


    index = 0;

    function addField(id, name = "", value = "", fieldId = 0) {
        let header = `<div class="input-group field" style="padding-left: 10px" id="content${index}">`
        var content = `<span class="input-group-addon">参数</span>
                                <input type="text"  style="width: 45%" class="form-control"  placeholder="参数名"
                                       aria-describedby="basic-addon1" value="${name}" >
                                <input type="text" style="width: 50%" class="form-control" placeholder="参数值"
                                       aria-describedby="basic-addon2" value="${value}">
                                <a href="javascript:remove('content${index}')" style="width: 5%">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>`;

        index++;
        if (fieldId !== 0) {
            content += `<input type='hidden' class="form-control" name='fieldId' value="${fieldId}">`
        }
        var fieldForm = $("#" + id);
        fieldForm.append(header + content + "</div>");
    }

    function addMethod(id, className = "", method = "", desc = "", parameter = "", methodId = 0) {
        let header = `<div class="input-group method" style="padding-left: 10px" id="content${index}">`
        var content = `<span class="input-group-addon">静态方法</span>
                                <input type="text"  style="width: 35%" class="form-control"  name="className" placeholder="包名.类名"
                                       aria-describedby="basic-addon1" value="${className}" >
                                <input type="text" style="width: 15%" class="form-control" name="method"  placeholder="方法名"
                                       aria-describedby="basic-addon2" value="${method}" >
                                <input type="text" style="width: 20%" class="form-control" name="desc"  placeholder="方法描述"
                                       aria-describedby="basic-addon2" value="${desc}" >
                                <input type="text" style="width: 25%" class="form-control" name="parameter"  placeholder="参数"
                                       aria-describedby="basic-addon2" value=${parameter} >
                                <a href="javascript:remove('content${index}')" style="width: 5%">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>`;
        index++;
        if (methodId !== 0) {
            content += `<input type='hidden' class="form-control" name='methodId' value="${methodId}">`
        }
        let fieldForm = $("#" + id);
        fieldForm.append(header + content + "</div>");
    }

    function remove(id) {
        let d = $("#" + id);
        d.remove();
    }

    var $table = $('#table')
    $(function () {
        $('#modalTable').on('shown.bs.modal', function () {
            $table.bootstrapTable('resetView')
        })
    })


</script>
<script>


    function get_hook_id() {
        return $.map($("#tb_departments").bootstrapTable('getSelections'), function (row) {
            return row.id
        })[0]
    }

    class Field {
        constructor(name, value, fid, order) {
            this.name = name;
            this.value = value;
            this.fieldId = fid;
            this.order = order;
        }
    }

    class Method {
        constructor(className, method, desc, parameter, methodId, order) {
            this.className = className;
            this.method = method;
            this.desc = desc;
            this.parameter = parameter;
            this.methodId = methodId;
            this.order = order;
        }
    }

    //对hook行为进行按照sort排序
    function sort_action(methodEntities, fieldEntities) {
        enter_list = []
        exit_list = []
        for (let methodEntity of methodEntities) {
            let type = methodEntity.type;
            let cn = methodEntity.className;
            let m = methodEntity.methodName;
            let d = methodEntity.desc;
            let p = methodEntity.parameters;
            let mid = methodEntity.methodId;
            let sort = methodEntity.sort;
            let method = new Method(cn, m, d, p, mid, sort)
            if (type === 1) {
                enter_list.push(method)
            } else if (type === 2) {
                exit_list.push(method)
            }
        }
        for (let field of fieldEntities) {
            let type = field.type;
            let name = field.name;
            let fid = field.fieldId;
            let fieldValue = field.value;
            let sort = field.sort;
            let f = new Field(name, fieldValue, fid, sort)
            if (type === 1) {
                enter_list.push(f)
            } else if (type === 2) {
                exit_list.push(f)
            }
        }
        enter_list.sort(function (a, b) {
            return a.order - b.order;
        });
        exit_list.sort(function (a, b) {
            return a.order - b.order;
        });
        return {
            "enter": enter_list,
            "exit": exit_list
        }
    }

    $(document).ready(function () {
        //删除多余下滑图标
        $(".caret").remove();

        //添加hook点点击事件
        //清空原来添加的子元素
        $("#btn_add").click(function () {
            $("#className").val("");
            $("#method").val("");
            $("#desc").val("");
            $("#returnValue").val("");
            $("#onMethodEnter").empty();
            $("#onMethodExit").empty()
            $("#addHook").unbind("click");
            $("#addHook").text("添加");
            $('#addHook').click(function () {
                let url = '/hook/add';
                mf = getMethodFields()

                $.ajax({
                    //async:false,非异步，modal窗口失效；
                    async: true,
                    url: url,
                    type: 'POST',
                    data: JSON.stringify({
                        agentId: $("small").text(),
                        className: $('#className').val(),
                        desc: $('#desc').val(),
                        method: $('#method').val(),
                        returnValue: $('#returnValue').val(),
                        "methodEntities": mf.methods,
                        "fieldEntities": mf.fields
                    }),
                    dataType: 'html',
                    contentType: 'application/json',
                }).done(function (data) {
                    refresh_hook();
                    setTimeout(function () {
                        $('#add_hook_dialog').modal('hide');
                    }, 200);
                })

            });
            $("#add_hook_dialog").modal();
        });

        //编辑hook点弹框
        $("#btn_edit").click(function () {
            var id = get_hook_id();
            if (id == null) {
                alert("未选择应用");
                return
            }
            //清空原来添加的子元素
            $("#onMethodEnter").empty();
            $("#onMethodExit").empty()

            $("#addHook").unbind("click");
            $("#addHook").text("更新");
            $("#addHook").click(function () {
                update_hook(id);
            });
            var url = "/hook/get?hookId=" + id;
            $.ajax({
                //async:false,非异步，modal窗口失效；
                async: true,
                url: url,
                type: 'GET',
                dataType: 'json',
            }).done(function (data) {
                let className = data.className;
                let method = data.method;
                let desc = data.desc;
                let value = data.returnValue;
                $("#className").val(className);
                $("#method").val(method);
                $("#desc").val(desc);
                $("#returnValue").val(value);
                let mf = sort_action(data.methodEntities, data.fieldEntities)
                for (let enterElement of mf.enter) {
                    if (enterElement instanceof Method) {
                        addMethod("onMethodEnter", enterElement.className, enterElement.method, enterElement.desc, enterElement.parameter, enterElement.methodId)
                    }
                    if (enterElement instanceof Field) {
                        addField("onMethodEnter", enterElement.name, enterElement.value, enterElement.fieldId);
                    }
                }
                for (let exitElement of mf.exit) {
                    if (exitElement instanceof Method) {
                        addMethod("onMethodExit", exitElement.className, exitElement.method, exitElement.desc, exitElement.parameter, exitElement.methodId)
                    }
                    if (exitElement instanceof Field) {
                        addField("onMethodExit", exitElement.name, exitElement.value, exitElement.fieldId);
                    }
                }

            })
            $("#add_hook_dialog").modal();
        });
    });


</script>


</body>


</html>