<div id="myTabContent" class="tab-content">
    <div class="modal fade" id="add_hook_dialog" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content" style="width: 650px;">
                <div class="modal-header">
                    <h4 class="modal-title">添加hook点</h4>
                </div>
                <div class="modal-body">
                    <form id="hook_form" action="/hook/add" method="POST">
                        <div class="input-group">
                            <span class="input-group-addon">ClassName</span>
                            <input type="text" id="className" class="form-control" placeholder="ClassName"
                                   aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">Method</span>
                            <input type="text" id="method" class="form-control" placeholder="Method"
                                   aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">Desc</span>
                            <input type="text" id="desc" class="form-control" placeholder="Desc"
                                   aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">修改返回值</span>
                            <input type="text" id="returnValue" class="form-control" placeholder="value"
                                   aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">方法执行前</span>
                            <div class="dropdown">
                                <button type="button" class="btn dropdown-toggle" id="dropdownMenu1"
                                        data-toggle="dropdown">
                                    添加行为
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1" href="javascript:addMethod('onMethodEnter')">添加静态方法</a>
                                    </li>
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1" href="javascript:addField('onMethodEnter')">添加修改参数</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div id="onMethodEnter">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">方法执行后</span>
                            <div class="dropdown">
                                <button type="button" class="btn dropdown-toggle" id="dropdownMenu2"
                                        data-toggle="dropdown">
                                    添加行为
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1" href="javascript:addMethod('onMethodExit')">添加静态方法</a>
                                    </li>
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1" href="javascript:addField('onMethodExit')">添加修改参数</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div id="onMethodExit">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="addHook" type="button" class="btn btn-default">添加</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-pane fade" id="classmap">

        <div class="row">
            <div class="col-sm-2">
                <div id="treeview1" class="treeview pre-scrollable"></div>
            </div>
            <div class="col-sm-8" id="classDetail">
                <h5 id="packageName"></h5>
                <h3 id="class">Class</h3>

            </div>
        </div>
    </div>
    <div class="tab-pane fade in active" id="home">
        <div id="toolbar" class="btn-group">
            <button id="btn_add" type="button" class="btn btn-default" data-toggle="modal"
                    data-target="#add_hook_dialog">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
            </button>
            <button id="btn_edit" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>修改
            </button>
            <button id="btn_delete" type="button" class="btn btn-default" onclick="del_hook()">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>删除
            </button>
        </div>
        <table id="tb_departments"></table>
    </div>
    <!--    <div class="tab-pane fade" id="jmeter">-->
    <!--        <p>jMeter 是一款开源的测试软件。它是 100% 纯 Java 应用程序，用于负载和性能测试。</p>-->
    <!--    </div>-->
    <!--    <div class="tab-pane fade" id="ejb">-->
    <!--        <p>Enterprise Java Beans（EJB）是一个创建高度可扩展性和强大企业级应用程序的开发架构，部署在兼容应用程序服务器（比如 JBOSS、Web Logic 等）的 J2EE 上。-->
    <!--        </p>-->
    <!--    </div>-->
</div>